

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQljR4HqdrNQiRhKfWVTZnjunhUZjLQlNS-xw&usqp=CAU"
              height="50"
              alt=""
              loading="lazy"
            />
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/Personas">Personas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Planetas">Planetas</a>
            </li>
    
        </ul>
      </div>
    </div>
  </nav>



